<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="baa.fit.bstu.gamecreation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameCreation">
        <activity
            android:name=".GameInfo"
            android:exported="true" />
        <activity
            android:name=".GameFormFourth"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameFormFirst"
            android:exported="true" />
        <activity
            android:name=".GameFormSecond"
            android:exported="true" />
        <activity
            android:name=".GameFormThird"
            android:exported="true" />
    </application>

</manifest>